{% extends "blog/base.html" %}
{%  block  script %}

<head>
</head>

{% endblock %}
{% block content %}
<div align="center" class="form-div">
    <div class="z-depth-3">
    <form method="post" action='{% url "blog-forgotPassword" %}'>
        {% csrf_token %}
            <h2>Find your Email</h2><br>
            <p>Enter Your Registered Email ID:</p><br>
            <input style="text-align: center;" type="email" name="email" placeholder="Email"><br><br>
        <div>
            <p style="font-size:13px;color:rgb(177, 8, 8)"> {{err_msg4}}</p>
        </div>
        <div align="center">
            <input class="button" type="submit" value="Proceed">
        </div>
    </form>
</div>
{% endblock %}
</div>