{% extends "blog/base.html" %}
{%  block  script %}

<head>
<link rel="stylesheet" type="text/css" href="forgot_password.css">
</head>
<style>

input{

border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: groove;
background-color: rgb(255, 255, 255);
}

.button {
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 150px;
        height: 50px;
        background-color: tomato;
}

</style>
{% endblock %}
{% block content %}
<div style="background-color: white;padding:50px 150px 75px;float:right;margin-right: 160px;">
    <br><br>
<form method="post" action="forgotPassword/">
    {% csrf_token %}
<div>
    <h3>Enter Your Registered Email ID:</h3><br>
    <input type="email" name="email" placeholder="Email"><br><br>
</div>
<div>
    <p style="font-size:13px;color:rgb(177, 8, 8)"> {{err_msg4}}</p>
</div>
<input class = "button" type="submit" value="Confirm Email">
    
</form>
</div>
{% endblock %}
