{% extends "blog/signup.html" %}
{% block script %}
<script>function validateForm() {
    var x = document.forms["myForm"]["Email"].value;
    var y = document.forms["myForm"]["password"].value;
    if ((x == "") || (y == "")) {
      alert("Email ID or Password missing");
      return false;
    }
  }
</script>
{% endblock %}

{% block content %}
<div  align="center" class="form-div">
  <div class="z-depth-3">
  <form name="myForm" action='{% url "blog-loginForm" %}' onsubmit="return validateForm()" method="post">
    <h2>Login</h2><br>  
      <div class="row">
        {% csrf_token %}
        <div>
          <label for="Email">Email id:</label>
          <input class="input-center" type="email" name="Email" id="Email" class="validate"><br>
          <br>
          <label for="password">Password:</label>
          <input class="input-center" type="password" name="password" id="password" class="validate"><br>
          <p style="font-size:13px;color:rgb(177, 8, 8)"> {{err_msg3}}</p>
          <a href='forgotPasswordPage/'>Forgot Password?</a><br><br><br>
          <input type="submit" class="btn red" value="Submit">
      </form>
    </div>
    <a href='/'>Sign Up! Create a new account</a>
  </div>
  {% endblock %}
</div>
</div>
