{% extends "blog/signup.html" %}
{% block script %}
<style>
.button {
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 150px;
        height: 50px;
        background-color: tomato;
}

</style>
<script>
function limit(element)
{
    var max_chars = 4;

    if(element.value.length > max_chars) {
        element.value = element.value.substr(0, max_chars);
    }

    
}

function isNumberKey(evt) {
    var charCode = (evt.which) ? evt.which : event.keyCode;
    if ((charCode < 48 || charCode > 57))
        return false;

    return true;
    }

</script>
{% endblock %}

{%  block  content %}
<div align="center" class='form-div'>
    <div class="z-depth-3">
    <form name='OTPpage' method="post" action='{% url "blog-SubmitOTP" %}'>
        {% csrf_token %}
        <h6>Enter the OTP sent to your registered E-mail address:</h6><br> <br> 
        <input class="input-center" type="text" name="otp" onkeypress="return isNumberKey(event)" oninput="limit(this);  "><br><br>
        <input class="input-center" type="hidden" style="font-size:13px;color:rgb(177, 8, 8)" name = 'email' value="{{email}}" readonly>  </input>

        <p style="font-size:13px;color:rgb(177, 8, 8)"> {{err_msg5}} </p>
        <input type="submit" class='button' value="Verify OTP">
        <input type="submit" class='button' value="Resend OTP" formaction = '{% url "blog-OTPresend" %}'>
    </form>
</div>
{% endblock %}
</div>
</div>