{% extends "blog/base.html" %}
{%  block  script %}

<style>

input {
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom-style: groove;
      background-color: rgb(255, 255, 255);
      }

    
.button {
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 150px;
        height: 50px;
        background-color: tomato;
}
</style>
</style>
<link rel="stylesheet" type="text/css" href="forgot_password.css">
<script>
function limit(element)
{
    var max_chars = 4;

    if(element.value.length > max_chars) {
        element.value = element.value.substr(0, max_chars);
    }

    
}

function isNumberKey(evt) {
    var charCode = (evt.which) ? evt.which : event.keyCode;
    if ((charCode < 48 || charCode > 57))
        return false;

    return true;
}

function blankFunction() {

/*var x = document.getElementsByName("password1")[0].value;
    alert(x)'''
*/



var otp = document.forms["RegForm1"]["otp"];
var password1 = document.forms["RegForm1"]["password1"];
var password2 = document.forms["RegForm1"]["password2"];



if (otp.value == "") {
    window.alert("Please enter the OTP");
    otp.focus();
    return false;
}

if (password1.value == '') {
    window.alert("Please enter your new password");
    password1.focus();
    return false;
}

if (password2.value == '') {
    window.alert("Please enter your confirmation password");
    password2.focus();
    return false;
}

if (password2.value != password1.value) {
    window.alert("Your confirmation password doesn't match");
    password2.focus();
    return false;
}
return true;

}

</script>
{% endblock %}
{% block content %}
<div style="background-color: white;padding:75px 100px;float:right;margin-right: 160px;">

<form name="RegForm1" method="post" action ='{% url "blog-PasswordReset"%}'>
    {% csrf_token %}
    <h2>Create Your New Password Here</h2>

<div>
    <input type="hidden" name = 'email1' value="{{email1}}" readonly>
    <br><br>
</div>
<div>
     Enter OTP: <br>
    <input type="text" name="otp" onkeypress="return isNumberKey(event)" oninput="limit(this);  "><br><br>
</div>
 <div>    
    Set New Password: <br>
    <input type="password" name="password1" placeholder="Password"><br><br>
</div>        
<div>
    Confirm New Password: <br>
    <input type="password" name="password2" placeholder="Confirmation Password"><br><br>
</div>       
    <p style="font-size:13px;color:rgb(177, 8, 8)"> {{password_msg}} </p>
    <br><br>
    <input class = "button" type="submit" value = "Submit" onclick="return blankFunction()">

</form>
</div>

{% endblock %}
