{% extends "blog/base.html" %}

{% block content %}
<br><br><h2>Registeration Page:</h2><br>
    <form action="/formSubmit/" method="post">
        {% csrf_token %}
    <input type = "text" name="first_name" placeholder="First Name"><br>
    <input type = "text" name="last_name" placeholder="Last Name"><br>
    <input type = "number" name="roll_no" placeholder="Roll Number"><br>
    <input type = "date" name="dob" placeholder="Date of Birth"><br>
    <input type = "text" name="user_name" placeholder="User Name"><br>
    <input type = "email" name="email" placeholder="Email"><br>
    <input type = "password" name="password1" placeholder="Password"><br>
    <input type = "password" name="password2" placeholder="Confirm Password"><br>
    <input type="Submit" value="Sign Up">
    </form>

    <a href="home/">Already have an account?</a>
{% endblock %} 
