h1{
    color:red;
}

h2{
    font-size: 40px;
}

/*.container{
    background-color: white;
    margin: 75px;

}
*/

body{
        background-color:teal;


}

.signup-div{
    background-color:teal;
    padding: 2% 28%;
 }

.form-div{
    background-color:teal;
    padding: 3% 28%;
 }

form{
    background-color: white;
    padding:3% 28% ;
}
.form-home{
    padding:3% 10%;
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
}

.body-home{
    background-color:teal;
    padding: 3% 10%;
}

table{
    width:100%;
}

.signup-form{
    padding:1% 15% ;
}
div{
    background-color: white;
    z-index: depth;

}

.title{
    padding:3% 10% ;
}

.form-row{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 0px 100px 0px 0px;
}

.button {
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px;
    height: 35px;
    background-color: tomato;
}

.signup-h4 {

    font-size: 2.28rem;
    line-height: 110%;
    margin: 1rem 0 .912rem 0;

}

.input-field {

    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.column-layout{
    display: flex;
    flex-direction: column;
    margin-top: 5%;

}
.topnav {
    overflow: hidden;
    background-color: rgb(1, 76, 146);
    margin-top: 60px;
    white-space: nowrap;
  }

.topnav p{
    text-align: left;
}

label{
    font-size: 17px;
}

.input-center{
    text-align: center;
}

.description-box{
    border-width:1px;  
    border-style:solid;
}
